body {
  background: #eee;
  font-family: sans-serif;
  box-sizing: border-box;
}

.card {
  width: 500px;
  height: 600px;
  background: #fff;
  margin: 16px auto;
  
}

.title {
  background: #e3f4ff;
  margin: 10px;
  
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  margin: 10px;
}

button {
  background: white;
  border: 1px solid #eee;
  margin: 10px
  display: block;
}